# Mac files
*.DS_STORE

# Target files
out/
target/

# Compiled files
*.class

# Maven files
pom.xml

# Private files
Constants.*
Database.*
Dev.*

# Configurations
.vscode/
.settings/
.classpath
.project
